## Assignment -  1

###  Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")
from IPython.display import Image

###  Import the dataset from this(https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user). <br>
Use sep= "|" while reading the data

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

### Assign it to a variable called users and use the 'user_id' as index

In [41]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep = '|')

In [42]:
df= pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',index_col =[0] )

### See the first 10 and last 10 entries

In [43]:
df.head(10)

Empty DataFrame
Columns: []
Index: [1|24|M|technician|85711, 2|53|F|other|94043, 3|23|M|writer|32067, 4|24|M|technician|43537, 5|33|F|other|15213, 6|42|M|executive|98101, 7|57|M|administrator|91344, 8|36|M|administrator|05201, 9|29|M|student|01002, 10|53|M|lawyer|90703]

In [18]:
df.tail(10)

Empty DataFrame
Columns: []
Index: [934|61|M|engineer|22902, 935|42|M|doctor|66221, 936|24|M|other|32789, 937|48|M|educator|98072, 938|38|F|technician|55038, 939|26|F|student|33319, 940|32|M|administrator|02215, 941|20|M|student|97229, 942|48|F|librarian|78209, 943|22|M|student|77841]

### What is the number of observations in the dataset?

In [22]:
df.shape[0]

943

### What is the number of columns in the dataset?

In [23]:
df.shape[1]

0

### Print the name of all the columns.

In [24]:
df.columns

Index([], dtype='object')

### How is the dataset indexed?

In [25]:
df.index

Index(['1|24|M|technician|85711', '2|53|F|other|94043', '3|23|M|writer|32067',
       '4|24|M|technician|43537', '5|33|F|other|15213',
       '6|42|M|executive|98101', '7|57|M|administrator|91344',
       '8|36|M|administrator|05201', '9|29|M|student|01002',
       '10|53|M|lawyer|90703',
       ...
       '934|61|M|engineer|22902', '935|42|M|doctor|66221',
       '936|24|M|other|32789', '937|48|M|educator|98072',
       '938|38|F|technician|55038', '939|26|F|student|33319',
       '940|32|M|administrator|02215', '941|20|M|student|97229',
       '942|48|F|librarian|78209', '943|22|M|student|77841'],
      dtype='object', name='user_id|age|gender|occupation|zip_code', length=943)

### What is the data type of each column?

In [26]:
df.dtypes

Series([], dtype: object)

### Print only the occupation column

In [44]:
users["occupation"]

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

### How many different occupations are in this dataset?

In [45]:
users["occupation"].value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
doctor             7
homemaker          7
Name: occupation, dtype: int64

### What is the most frequent occupation?

In [47]:
users["occupation"].value_counts().idxmax()

'student'

###  DataFrame Info.

In [48]:
users.info

<bound method DataFrame.info of      user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]>

### Describe all the columns

In [50]:
df.describe

<bound method NDFrame.describe of Empty DataFrame
Columns: []
Index: [1|24|M|technician|85711, 2|53|F|other|94043, 3|23|M|writer|32067, 4|24|M|technician|43537, 5|33|F|other|15213, 6|42|M|executive|98101, 7|57|M|administrator|91344, 8|36|M|administrator|05201, 9|29|M|student|01002, 10|53|M|lawyer|90703, 11|39|F|other|30329, 12|28|F|other|06405, 13|47|M|educator|29206, 14|45|M|scientist|55106, 15|49|F|educator|97301, 16|21|M|entertainment|10309, 17|30|M|programmer|06355, 18|35|F|other|37212, 19|40|M|librarian|02138, 20|42|F|homemaker|95660, 21|26|M|writer|30068, 22|25|M|writer|40206, 23|30|F|artist|48197, 24|21|F|artist|94533, 25|39|M|engineer|55107, 26|49|M|engineer|21044, 27|40|F|librarian|30030, 28|32|M|writer|55369, 29|41|M|programmer|94043, 30|7|M|student|55436, 31|24|M|artist|10003, 32|28|F|student|78741, 33|23|M|student|27510, 34|38|F|administrator|42141, 35|20|F|homemaker|42459, 36|19|F|student|93117, 37|23|M|student|55105, 38|28|F|other|54467, 39|41|M|entertainment|01040, 40|38|M|scientist|27514, 41|33|M|engineer|80525, 42|30|M|administrator|17870, 43|29|F|librarian|20854, 44|26|M|technician|46260, 45|29|M|programmer|50233, 46|27|F|marketing|46538, 47|53|M|marketing|07102, 48|45|M|administrator|12550, 49|23|F|student|76111, 50|21|M|writer|52245, 51|28|M|educator|16509, 52|18|F|student|55105, 53|26|M|programmer|55414, 54|22|M|executive|66315, 55|37|M|programmer|01331, 56|25|M|librarian|46260, 57|16|M|none|84010, 58|27|M|programmer|52246, 59|49|M|educator|08403, 60|50|M|healthcare|06472, 61|36|M|engineer|30040, 62|27|F|administrator|97214, 63|31|M|marketing|75240, 64|32|M|educator|43202, 65|51|F|educator|48118, 66|23|M|student|80521, 67|17|M|student|60402, 68|19|M|student|22904, 69|24|M|engineer|55337, 70|27|M|engineer|60067, 71|39|M|scientist|98034, 72|48|F|administrator|73034, 73|24|M|student|41850, 74|39|M|scientist|T8H1N, 75|24|M|entertainment|08816, 76|20|M|student|02215, 77|30|M|technician|29379, 78|26|M|administrator|61801, 79|39|F|administrator|03755, 80|34|F|administrator|52241, 81|21|M|student|21218, 82|50|M|programmer|22902, 83|40|M|other|44133, 84|32|M|executive|55369, 85|51|M|educator|20003, 86|26|M|administrator|46005, 87|47|M|administrator|89503, 88|49|F|librarian|11701, 89|43|F|administrator|68106, 90|60|M|educator|78155, 91|55|M|marketing|01913, 92|32|M|entertainment|80525, 93|48|M|executive|23112, 94|26|M|student|71457, 95|31|M|administrator|10707, 96|25|F|artist|75206, 97|43|M|artist|98006, 98|49|F|executive|90291, 99|20|M|student|63129, 100|36|M|executive|90254, ...]

[943 rows x 0 columns]>

### Summarize only the occupation column

In [56]:
users.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

###  What is the mean age of users?

In [55]:
users.mean()

user_id    472.000000
age         34.051962
dtype: float64

###  What is the age with least occurrence?

In [57]:
users["age"].value_counts().idxmin()

7